/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");

@import "ngx-toastr/toastr";

@import "bootstrap/scss/mixins";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

@import "ngx-toastr/toastr-bs5-alert";

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* > h2,
* > h3,
.home-container > .section1 label,
.home-container > .section2 label,
.home-container > .section1 input,
.home-container > .section2 input {
  font-family: "Poppins";
}

@media screen and (max-width: 900px) {
}
